@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --socials-color: #aaa;
  --accent-color: #000;
  --common-color: #ddd;
  --background-color: white;
  --border-color: theme(textColor.neutral.300);
  --foreground-color: theme(textColor.neutral.600);
  --signature-color: theme(textColor.neutral.500);
}

body {
  background-color: var(--background-color);
}

@layer components {
  * {
    @apply transition-colors duration-300;
  }

  body {
    @apply cursor-default;
  }

  .set-size {
    @apply sm:w-[92%] md:w-[85%] lg:w-[80%] xl:w-[70%] 2xl:w-[60%];
  }
}